body {
  background: #ffffff;
  font-family: "";
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  max-width: 1200px;
  padding: 50px 0;
}

.weatherEntry {
  width: 150px;
  aspect-ratio: 1 / 1;
  position: relative;
  text-align: center;
}

.atmosLogo {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: 
    opacity 2.5s ease,
    transform 3s ease,
    stroke 2s ease,
    fill 2s ease;
}

.atmosLogo.visible {
  opacity: 1;
  transform: scale(1);
}

.label {
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #weather-container {
    gap: 40px;
  }
  .weatherEntry {
    width: 110px;
  }
  .label {
    font-size: 12px;
  }
}

.formLogo {
  width: 100px;
  height: auto;
  opacity: 0.5;
  transition: all 2s ease-in-out;
}

.formLogo:hover {
  opacity: 1;
  transform: scale(1.05);
}

.weatherEntry:nth-child(3) svg {
  width: 85%;
  height: auto;
  transform: translateY(6px);
}

.atmosLogo path {
  transition: all 2s ease;
}


.weatherEntry:nth-child(n+10) .atmosLogo path[stroke]:not([stroke="none"]) {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 3s ease forwards;
}


@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}